@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-feature-settings: "liga" 1, "kern" 1;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

#__next {
  height: 100%;
}

.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(120deg, #0099ff, #b865f7, #ff5f5f);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
